<div class="row">
   <div class="col">
      <h1>Places</h1>
    </div>
</div>
<div class = "row">
  <%if @current_user%>
    <% for place in @places %>
      <ul>
        <a href="/places/<%= place.id %>" class= "btn btn-outline-dark py-2"><%= place.name %></a>
      </ul>
    <% end %>
    <p>
    <a href="/places/new" class= "btn btn-primary " >New place</a>
    </p>
  <% else %>
    <div class="col-2 py-3 text-end">
      You must <a href="/sessions/new">log in </a> to post
    </div>
  <% end %>
</div>