<div class="row">
   <div class="col">
      <h1>Places</h1>
    </div>
</div>
<div class = "row">
  <%if @current_user%>
    <% for place in @places %>
      <ul>
        <a href="/places/<%= place.id %>" class= "btn btn-outline-dark py-2"><%= place.name %></a>
      </ul>
    <% end %>
    <p>
    <a href="/places/new" class= "btn btn-primary ">New place</a>
    </p>
  <% else %>
    <div class="col-4 py-3">
      You must <a href="/sessions/new" class= "btn btn-outline-primary mx-1" >log in </a> or <a href="/users/new" class="btn btn-outline-primary mx-1"> sign up </a>to post
    </div>
  <% end %>
</div>